/* start with mobile device section */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* main container design section */
    body{
        color: hsl(219, 14%, 63%);
        background-color:hsl(210, 71%, 81%);
        width: 375px;
        height: 100%;
        margin: auto;
        padding: 20px;
        font-size: 12px;
        font-family: 'Plus Jakarta Sans',sans-serif;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container{
        background-color: hsl(0, 0%, 100%);
        width: 300px;
        height: 100%;
        padding: 20px 10px 10px;
        margin: auto;
        border-radius: 6px;
    }

    /* header section styles */
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .N{
        display: flex;
        flex-direction: row;
        gap: 6px;
    }

    h4{
        color: black;
        font-weight: 700;
        font-size: 16px;
    }

    .number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        width: 22px;
        height: 17px; 
        color:hsl(0, 0%, 100%) ;
        background-color: hsl(219, 85%, 26%);
    }
 
    button{
        color:hsl(219, 14%, 63%) ;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    button:hover{
        color:hsl(219, 85%, 26%) ;
    }

    /* notification list section styles */
    .dot{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color:hsl(1, 90%, 64%) ;
        z-index: 1;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        padding-top: 10px;
    }

    li{
        list-style: none;
        display: inline-flex;
        gap: 10px;
        border-radius: 3px;
        height: fit-content;
        padding: 10px;
    }

    .new{
        background-color: hsl(205, 33%, 90%);
    }

    li:active{
        background-color: hsl(210, 60%, 98%);
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .user{
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    .user:hover{
        color: hsl(219, 85%, 26%);
    }

    .C{
        color: hsl(219, 85%, 26%);
        font-weight: 700;
        cursor: pointer;
    }

    strong{
        cursor: pointer;
        color: hsl(219, 12%, 42%);
    }

    strong:hover{
        color: hsl(219, 85%, 26%);
    }

    .message{
        border: 0.9px solid hsl(219, 14%, 63%);
        border-radius: 2.6px;
        padding: 10px;
        cursor: pointer;
    }

    .message:hover{
        color:hsl(219, 12%, 42%) ;
        border: none;
        background-color: hsl(205, 33%, 90%)
    }

    /* image section styles */
    img{
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    #picture{
        width: 30px;
        height: 30px;
        border-radius: 3px; 
    }

    /* source || coder section styles */
    .attribution {
         font-size: 11px; 
         text-align: center; 
        }
    .attribution a { 
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        font-size: 13px; 
    }
  
/* responsive design for desktop devices*/
@media screen and (min-width: 768px) {
    body{
        width: 900px;
        height: 100%;
        padding: 60px;
    }

    .container{
        margin: auto;
        width: 625px;
        height: 100%;
        padding: 20px;
    }

}