/* CSS */

/* 
- Weights: 500, 800

- Red: hsl(1, 90%, 64%)
- Blue: hsl(219, 85%, 26%)
- White: hsl(0, 0%, 100%)
- Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
- Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%)
*/


/* @import url('https://fonts.google.com/specimen/Plus+Jakarta+Sans'); */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        color: hsl(219, 14%, 63%);
        background-color:hsl(224, 21%, 14%);
        width: 375px;
        height: 100%;
        margin: auto;
        padding: 20px;
        font-size: 12px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container{
        background-color: hsl(0, 0%, 100%);
        width: 300px;
        height: 100%;
        padding: 20px 10px 10px;
        margin: auto;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .N{
        display: flex;
        flex-direction: row;
        gap: 6px;
    }

    h4{
        color: black;
        font-weight: 700;
        font-size: 16px;
    }

    .number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        width: 22px;
        height: 17px; 
        color:hsl(0, 0%, 100%) ;
        background-color: hsl(219, 85%, 26%);
    }
 
    button{
        color:hsl(219, 14%, 63%) ;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    button:hover{
        color:hsl(219, 85%, 26%) ;
    }

    .dot{
        /* display: none; */
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color:hsl(1, 90%, 64%) ;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        padding-top: 10px;
    }

    li{
        list-style: none;
        display: inline-flex;
        gap: 10px;
        /* background-color: hsl(210, 60%, 98%); */
        border-radius: 3px;
        height: fit-content;
        padding: 10px;
    }

    li:active{
        background-color: hsl(210, 60%, 98%);
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    img{
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .user{
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    .user:hover{
        color: hsl(219, 85%, 26%);
    }

    .C{
        color: hsl(219, 85%, 26%);
        font-weight: 700;
        cursor: pointer;
    }

    strong{
        cursor: pointer;
        color: hsl(219, 12%, 42%);
    }

    strong:hover{
        color: hsl(219, 85%, 26%);
    }

    .message{
        border: 0.9px solid hsl(219, 14%, 63%);
        border-radius: 2.6px;
        padding: 10px;
        cursor: pointer;
    }

    .message:hover{
        color:hsl(219, 12%, 42%) ;
        border: none;
        background-color: hsl(205, 33%, 90%)
    }

    #picture{
        width: 30px;
        height: 30px;
        border-radius: 3px; 
    }

    .attribution {
         font-size: 11px; 
         text-align: center; 
        }
    .attribution a { 
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        font-size: 13px; 
    }
  